@page "/Oversigt"
@using Core
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-9">
        <h3>Oversigt</h3>
    </div>
    <div class="col-3">
        <div class="float-end">
            <button class="btn btn-secondary">Send mail</button>
            <button class="btn btn-secondary" @onclick="GetAllPdf">Hent pdf</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-3">
                <label for="city">Type</label>
                <select type="text" class="form-control" id="city">
                    <option value="ingen2.">Alle typer</option>
                    <option value="Børneklubben">Børneklubben</option>
                    <option value="Ung frivillig">Ung frivillig</option>
                </select>
            </div>
            <div class="col-3">
                <label for="city">By</label>
                <select type="text" class="form-control" id="city">
                    @foreach (var city in cities)
                    {
                        <option value="@city.Name">@city.Name</option>
                    }
                </select>
            </div>
            <div class="col-3">
                <label for="period">Periode</label>
                <select type="text" class="form-control" id="period">
                    @foreach (var city in cities)
                    {
                        @foreach (var week in city.Weeks)
                        {
                            @foreach (var period in week.Periods)
                            {
                                <option value="uge @period.PeriodName: @period.PeriodName">Uge @week.WeekName: @period.PeriodName</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="col-3">
                <label for="status">Status</label>
                <select type="text" class="form-control" id="status">
                    <option value="Alle ansøgninger">Alle ansøgninger</option>
                    <option value="Nye ansøgninger">Nye ansøgninger</option>
                    <option value="Godkendte ansøgninger">Godkendte ansøgninger</option>
                    <option value="Afviste ansøgninger">Afviste ansøgninger</option>
                    <option value="Ansøgninger på venteliste">Ansøgninger på venteliste</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="float-end">
            <label for="search">Søg</label>
            <input type="text" class="form-control" id="search" @bind="searchText" />
        </div>
    </div>
</div>

<div class="row mt-4">
    @if (applications == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var application in applications)
        {
            <div class="col-9 mx-auto mt-4">
                <div class="row overview-guardian">
                    <div class="col-3">
                        <p class="overview-label">Værges navn:</p>
                        <p>@application.Volunteer.Name</p>
                    </div>
                    <div class="col-3">
                        <p class="overview-label">Periode:</p>
                        <p>@application.Priority1</p>
                    </div>
                    <div class="col-3">
                        <p class="overview-label">Status:</p>
                        <p>@application.Status</p>
                    </div>
                    <div class="col-3">
                        <div class="float-end" style="margin-top: 17px">
                            <button class="btn btn-dark" @onclick="() => GetPdf(application.Id)">Pdf</button>
                            <button class="btn btn-danger" @onclick="() => EditApplication(application.Id)">Rediger</button>
                        </div>
                    </div>
                </div>
                @if (application.Volunteer.Children != null)
                {
                    @foreach (var child in application.Volunteer.Children)
                    {
                        <div class="row overview-child">
                            <div class="col-4">
                                <p class="overview-label">Barnets navn:</p>
                                <p>@child.Name</p>
                            </div>
                            <div class="col-4">
                                <p class="overview-label">Alder:</p>
                                <p>@child.Age år</p>
                            </div>
                            <div class="col-4">
                                <p class="overview-label">Type:</p>
                                <p>@application.Priority2</p>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    }
</div>

@code {
    private List<Application> applications;
    private string searchText = "";
    private List<City> cities;

    protected override async Task OnInitializedAsync()
    {
        await GetAllApplications();
        cities = await Http.GetFromJsonAsync<List<City>>("https://localhost:7026/api/City/getall");
    }

    private async Task GetAllApplications()
    {
        applications = await Http.GetFromJsonAsync<List<Application>>("https://localhost:7026/api/application/getall");
    }

    private void EditApplication(string applicationId)
    {
        NavigationManager.NavigateTo($"/edit-application/{applicationId}");
    }

    public void GetPdf(string applicationId)
    {
        NavigationManager.NavigateTo($"https://localhost:7026/api/pdf/get/{applicationId}");
    }

    public void GetAllPdf()
    {
        NavigationManager.NavigateTo($"https://localhost:7026/api/pdf/get-all");
    }
}
